
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #333;
}

input[type="text"][placeholder="Zadanie"], input[type="date"][id = "date"] {
    padding: 12px 15px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 25px;
    width: 200px;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

input[type="text"]:focus, input[type="date"]:focus {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    outline: none;
}

.task-edit-input {
    border: 1px solid #ddd;
    padding: 5px 10px;
    font-size: 14px;
    width: 120px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styl dla przycisku */
button {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 123, 255, 0.4);
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.4);
}


ul#taskList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 400px;
}

ul#taskList li {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

ul#taskList li:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Styl dla tekstu w zadaniach */
ul#taskList li span {
    flex-grow: 1;
    margin-right: 20px;
    margin-left: 20px;
    color: #333;
    font-weight: 500;
}

ul#taskList li button {
    padding: 8px 15px;
    background-color: #dc3545;
    box-shadow: 0 2px 5px rgba(255, 0, 0, 0.56);
    margin-bottom: 5px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

ul#taskList li button:hover {
    background-color: #b02a37;
    box-shadow: 0 4px 15px rgba(255, 0, 0, 0.56);
}

input[placeholder="Wyszukiwarka"] {
    padding: 12px 15px;
    margin: 15px 0;
    width: 320px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

input[placeholder="Wyszukiwarka"]:focus {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    outline: none;
}

.highlight {
    background-color: yellow;
}

.task-name.collapsed {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
    cursor: pointer;
}

.task-name.expanded {
    white-space: normal;
    overflow: visible;
    cursor: pointer;
}
